<body>
	  <div class="container-fluid" style="background-color: #ecff59; width: 100%;">

    <h1 style="text-align: center;" class="animate__animated animate__rubberBand"><strong><i><u>About Us</u></i></strong>
    </h1>

    <div class="row">

      <div class="col-sm-6">
        <p style="font-size: 20pt; font-family: fantasy; text-align: justify;">We are the <mark style="background-color: lightskyblue;">Shooping Mart</mark>. We
        	provide the best facilities and product's quality to the customers. We are dealing in this field since 2010 and we have best advisor's, quality checker's and best employee's to grow our community and provide best product facilities to the customer. We believe in the rule of- <mark style="text-transform: uppercase;"> 'If customer is happy, so God will be happy.'</mark> So, please come in this world of shooping, that is, <b>"Shopping Mart"</b> to make themselves happy.
          <br>
          For more details:- <a href="#contact"> Cotact Us</a></p>
      </div>

      <div class="col-sm-6">
      	<%#= image_url("1.jpg") %>

      	<%= image_tag "1.jpg", {height: 300} %>
      	<%= image_tag "3.jpg", {height: 300} %>
      	<%= image_tag "4.jpg", {height: 300} %>
      	<br>
      	<br>
      	<%= image_tag "5.jpg", {height: 300} %>
      	<%= image_tag "7.jpg", {height: 300} %>
      	<%= image_tag "6.jpg", {height: 300} %>

        <!-- <img src="/assets/images/4.jpg" style="border-radius: 5%; padding: 15px;" width="100%" alt="image"> -->

      </div>

    </div>
  </div>

</body>