<% @order.orderables.each do |orderable| %>
  <% product = orderable.product %>
  <div id="<%= "order-#{product.id}" %>">
    <div style="display:flex;justify-content:space-between;margin: 0em 5em;">
      <strong>Name:</strong>
      <%= product.p_name %>
      <strong>Price:</strong>
      <%= product.p_price %>
      <strong>Quantity:</strong>
      <%= product.p_qty %>
      <%= form_with(url: order_add_path) do |f| %>
        <%= f.hidden_field :id, value: product.id %>
        <%= f.number_field :quantity, value: orderable.quantity, min: 0 %>
        <%= f.submit "Add To Cart" %>
      <% end %>
      <%= form_with(url: order_remove_path) do |f| %>
        <%= f.hidden_field :id, value: orderable.id %>
        <%= f.submit "X" %>
      <% end %>
      <strong>Total:</strong>
      <%= orderable.total %>
    </div>
  </div>
<% end %>