<div class="container" style="background-color: #e8c06f; border-radius: 15px; padding: 15px;">
  <center>
    <h2 style="text-decoration-line: underline;">Item Details</h2><br>
    <h4>Item Name => <%= @order_item.item_name %></h4>
    <h4>Item Price => <%= @order_item.item_price %></h4>
    <h4>Quantity => <%= @order_item.item_qty %></h4> 
    <h4>Total Price => <%= @order_item.total_price %></h4>
  </center>
</div>

<br>
<br>

<div class="container" style="background-color: #e8c06f; border-radius: 15px; padding: 15px;">
  <div class="row">
    <div class="col-sm-4" style="text-align: center;">
      <h4><%= button_to "Add Qty", order_item_add_path(@order_item), method: :post %></h4>
    </div>

    <div class="col-sm-4" style="text-align: center;">
      <h4><%= button_to "Reduce Qty", order_item_reduce_path(@order_item), method: :post %></h4>
    </div>

    <div class="col-sm-4" style="text-align: center;">
      <h4><%= button_to "Remove Item", order_item_path(@order_item), method: :delete %></h4>
    </div>
  </div>
</div>