<%= form_with model: product do |form| %>
  <div>
    <%= form.label :Product_name %><br>
    <%= form.text_field :p_name %>
    <% @product.errors.full_messages_for(:p_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
    
  </div>

  <div>
    <%= form.label :Product_Price %><br>
    <%= form.text_area :p_price %><br>
    <% @product.errors.full_messages_for(:p_price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :Product_Qty %><br>
    <%= form.text_area :p_qty %><br>
    <% @product.errors.full_messages_for(:p_qty).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
