<head>
<!-- 	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 -->

 	<meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" text="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


	<style type="text/css">
		.selector-for-some-widget {
			box-sizing: content-box;
		}

		.dropdown-submenu{
			position:relative;
		}
		.dropdown-submenu >.dropdown-menu{
			top:0;
			left:100%;
			margin-top:-6px;
			margin-left:-1px;
			-webkit-border-radius:0 6px 6px 6px;
			-moz-border-radius:0 6px 6px 6px;
			border-radius:0 6px 6px 6px;
		}
		.dropdown-submenu:hover>.dropdown-menu{
			display:block;
		}
		.dropdown-submenu>a:after{
			display:block;
			content:" ";
			float:right;
			width:0;
			height:0;
			border-color:transparent;
			border-style:solid;
			border-width:5px 0 5px 5px;
			border-left-color:#cccccc;
			margin-top:5px;
			margin-right:-10px;
		}
		./*dropdown-submenu:hover>a:after{
			border-left-color:#ffffff;
		}
		.dropdown-submenu.pull-left{
			float:none;
		}*/
		/*.dropdown-submenu.pull-left>.dropdown-menu{
			left:-100%;
			margin-left:10px;
			-webkit-border-radius:6px 0 6px 6px;
			-moz-border-radius:6px 0 6px 6px;
			border-radius:6px 0 6px 6px;
		}*/

	</style>
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-success">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#" style="color: darkblue;">Shopping Mart</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="products">Home</a>
	        </li>
	        <li class="nav-item">
	          <li class="nav-link"><%= link_to 'Offers', offers_path %></li>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	            
	            <li class="nav-item dropdown">
	            	<li class="dropdown-submenu">
	            		<a class="dropdown-item" href="#">Grocery-Products</a>
		            		<ul class="dropdown-menu">
					            <li><a class="dropdown-item" href="#">Rice & Flours</a></li>
					            <li><a class="dropdown-item" href="#">Pulses/Dals</a></li>
					            <li><a class="dropdown-item" href="#">Spice-Powders</a></li>
					            <li><a class="dropdown-item" href="#">Oils</a></li>
					            <li><a class="dropdown-item" href="#">Sugar, Gud & Mishri</a></li>
					            <li><a class="dropdown-item" href="#">Other-Ingredients</a></li>
					            <!-- <li><a href="#">Oil</a></li> -->
								    </ul>
							  </li>
	            </li>

	            <li class="nav-item dropdown">
	            	<li class="dropdown-submenu">
	            		<a class="dropdown-item" href="#">Fruits & Vegetables</a>
		            		<ul class="dropdown-menu">
					            <li><a class="dropdown-item" href="#">Freash Fruits</a>
					            </li>
					            <li><a class="dropdown-item" href="#">Dry Fruits</a></li>
					            <li><a class="dropdown-item" href="#">Vegetables</a></li>
								    </ul>
							  </li>
	            </li>

	            <li class="nav-item dropdown">
	            	<li class="dropdown-submenu">
	            		<a class="dropdown-item" href="#">Dairy-Products</a>
		            		<ul class="dropdown-menu">
					            <li><a class="dropdown-item" href="#">Milk & Milk Powder</a>
					            </li>
					            <li><a class="dropdown-item" href="#">Ghee</a></li>
					            <li><a class="dropdown-item" href="#">Butter</a></li>
					            <li><a class="dropdown-item" href="#">Bread</a></li>
					            <li><a class="dropdown-item" href="#">Cheese and Paneer</a></li>
					            <li><a class="dropdown-item" href="#">Curd, Yogurts & Shrikhand</a></li>
					            <li><a class="dropdown-item" href="#">Ice-Creams</a></li>
								    </ul>
							  </li>
	            </li>

	            <li class="nav-item dropdown">
	            	<li class="dropdown-submenu">
	            		<a class="dropdown-item" href="#">Cleaning-Products</a>
		            		<ul class="dropdown-menu">
					            <li><a class="dropdown-item" href="#">Soaps & Shampoo</a>
					            </li>
					            <li><a class="dropdown-item" href="#">Washing Powder</a></li>
					            <li><a class="dropdown-item" href="#">Dish Washing Soaps</a></li>
					            <li><a class="dropdown-item" href="#">Dettol</a></li>
					            <li><a class="dropdown-item" href="#">Floor, Car Cleaners</a>
					            </li>
					            <li><a class="dropdown-item" href="#">Freshners</a></li>
					            <li><a class="dropdown-item" href="#">Liquids</a></li>
								    </ul>
							  </li>
	            </li>

	            <li class="nav-item dropdown">
	            	<li class="dropdown-submenu">
	            		<a class="dropdown-item" href="#">Electronics</a>
		            		<ul class="dropdown-menu">
					            <li><a class="dropdown-item" href="#">Mobiles</a></li>
					            <li><a class="dropdown-item" href="#">Earphones</a></li>
					            <li><a class="dropdown-item" href="#">Headphones</a></li>
					            <li><a class="dropdown-item" href="#">Laptops & Tablets</a></li>
					            <li><a class="dropdown-item" href="#">Smart Wearables</a></li>
					            <li><a class="dropdown-item" href="#">Elect.Assecories</a></li>
					            <li><a class="dropdown-item" href="#">Gadgets</a></li>
								    </ul>
							  </li>
	            </li>

	            <li><hr class="dropdown-divider"></li>
	            <li><h6 class="dropdown-item" disabled>Coming Soon More*</h6></li>
						</ul>

	        </li>
	        <li class="nav-item">
	          <li class="nav-link"><%= link_to 'About Us', about_us_path %></li>
	        </li>
	        <li class="nav-item">
	          <li class="nav-link"><%= link_to 'Contact Us', contact_us_path %></li>
	        </li>

	        <!-- <div style="border-left: 6px solid black; height: 500px; position: absolute; left: 50%; margin-left: -3px; top: 0; "></div> -->
	        
	        <% if user_signed_in? %>
	        	<li class="nav-item">
		          <a class="nav-link" disabled>|| <%= current_user.email %> {<%= current_user.roles %>} ||</a>
		        </li>
		      <% end %>

					<li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true" style="color: lightskyblue; background-color: yellow; border-radius: 10px;">User</a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	          	<li class="nav-item dropdown">
	          		<% if user_signed_in? %>
			          	<li class="dropdown-item">
			          		<%= link_to 'Edit Profile', edit_user_registration_path %>
			          	</li>
									<li class="dropdown-item">
			          		<%= link_to 'Logout', destroy_user_session_path %>
			          	</li>
			          <% else %>
			          	<li class="dropdown-item">
			          		<%= link_to 'Login', new_user_session_path %>
			          	</li>
									<li class="dropdown-item">
			          		<%= link_to 'Sign Up', new_user_registration_path %>
			          	</li>
			          <% end %>
		          </li>
	          </ul>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<br>

	<center>
		<h3 style="text-decoration-line: underline;">Products List</h3>
		<br>
		<div style="margin: 15px;">
			<table>
				<tr>
				  <th>P_Id</th>
				  <th>Name</th>
				  <th>Price</th>
				  <th>Qty.</th>
				  <% if user_signed_in? %>
				  	<th>Actions</th>
				  <% end %>
				</tr>

				<% @products.each do |product| %>
					<tr>
						<center>
					  <td><%= product.id %></td>
					  <td><%= product.p_name %></td>
					  <td><%= product.p_price %></td>
					  <td><%= product.p_qty %></td>
					  <% if user_signed_in? %>
						  <td>
						  	<% if current_user.owner? %>
						  		<p class="btn"><%= link_to "View", product %></p>
						  	<% else %>
						  		<p class="btn"><%= link_to "Buy", product %></p>
						  	<% end %>
						  </td>
						<% end %>
						</center>
					</tr>
				<% end %>
			</table>
		</div>
	</center>

	<br>
	<div>
		<% if user_signed_in? && current_user.owner? %>
			<button type="button" class="btn btn-success" style="margin-left: 20px;"><%= link_to "Create New Product", new_product_path %></button>
		<% end %>
	</div>
</body>

<!-- <button><%#= link_to "Sign Out", destroy_user_session_path, method: :delete %></h3></button> -->