<head>
	<style type="text/css">

		table, th, td {
		  border-collapse: collapse;
		  font-size: 15pt;
		  padding: 5px;
		  text-align: center;
		}

		th {
			border: 2px solid black;
		  background-color: #96D4D4;
		}
		td{
			border: 2px groove; black;
		}

		/*.selector-for-some-widget {
			box-sizing: content-box;
		}

		.dropdown-submenu{
			position:relative;
		}
		.dropdown-submenu >.dropdown-menu{
			top:0;
			left:100%;
			margin-top:-6px;
			margin-left:-1px;
			-webkit-border-radius:0 6px 6px 6px;
			-moz-border-radius:0 6px 6px 6px;
			border-radius:0 6px 6px 6px;
		}
		.dropdown-submenu:hover>.dropdown-menu{
			display:block;
		}
		.dropdown-submenu>a:after{
			display:block;
			content:" ";
			float:right;
			width:0;
			height:0;
			border-color:transparent;
			border-style:solid;
			border-width:5px 0 5px 5px;
			border-left-color:#cccccc;
			margin-top:5px;
			margin-right:-10px;
		}*/
		./*dropdown-submenu:hover>a:after{
			border-left-color:#ffffff;
		}
		.dropdown-submenu.pull-left{
			float:none;
		}*/
		/*.dropdown-submenu.pull-left>.dropdown-menu{
			left:-100%;
			margin-left:10px;
			-webkit-border-radius:6px 0 6px 6px;
			-moz-border-radius:6px 0 6px 6px;
			border-radius:6px 0 6px 6px;
		}*/



	</style>
</head>

<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-success">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#" style="color: darkblue;">Shopping Mart</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" href="products">Home</a>
	        </li>
	        <li class="nav-item">
	          <li class="nav-link"><%= link_to 'Offers', offers_path %></li>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				     	<% Category.all.each do |category| %>
				          <li class="dropdown-item">
				          	<%= link_to category.category_name, category %>
				          </li>
				     	<% end %>

				     	<li><hr class="dropdown-divider"></li>
	            <li class="dropdown-item" disabled;>Coming Soon More*</li>
				  	</ul>
	          		            
	            <!-- <li class="nav-item dropdown">
	            	<li class="dropdown-submenu">
	            		<a class="dropdown-item" href="#">Grocery-Products</a>
		            		<ul class="dropdown-menu">
					            <li><a class="dropdown-item" href="#">Rice & Flours</a></li>
					            <li><a class="dropdown-item" href="#">Pulses/Dals</a></li>
					            <li><a class="dropdown-item" href="#">Spice-Powders</a></li>
					            <li><a class="dropdown-item" href="#">Oils</a></li>
					            <li><a class="dropdown-item" href="#">Sugar, Gud & Mishri</a></li>
					            <li><a class="dropdown-item" href="#">Other-Ingredients</a></li>
					          </ul>
							  </li>
	            </li> -->

	            <!-- <li class="nav-item dropdown">
	            	<li class="dropdown-submenu">
	            		<a class="dropdown-item" href="#">Fruits & Vegetables</a>
		            		<ul class="dropdown-menu">
					            <li><a class="dropdown-item" href="#">Freash Fruits</a>
					            </li>
					            <li><a class="dropdown-item" href="#">Dry Fruits</a></li>
					            <li><a class="dropdown-item" href="#">Vegetables</a></li>
								    </ul>
							  </li>
	            </li> -->

	            <!-- <li class="nav-item dropdown">
	            	<li class="dropdown-submenu">
	            		<a class="dropdown-item" href="#">Dairy-Products</a>
		            		<ul class="dropdown-menu">
					            <li><a class="dropdown-item" href="#">Milk & Milk Powder</a>
					            </li>
					            <li><a class="dropdown-item" href="#">Ghee</a></li>
					            <li><a class="dropdown-item" href="#">Butter</a></li>
					            <li><a class="dropdown-item" href="#">Bread</a></li>
					            <li><a class="dropdown-item" href="#">Cheese and Paneer</a></li>
					            <li><a class="dropdown-item" href="#">Curd, Yogurts & Shrikhand</a></li>
					            <li><a class="dropdown-item" href="#">Ice-Creams</a></li>
								    </ul>
							  </li>
	            </li> -->

	            <!-- <li class="nav-item dropdown">
	            	<li class="dropdown-submenu">
	            		<a class="dropdown-item" href="#">Cleaning-Products</a>
		            		<ul class="dropdown-menu">
					            <li><a class="dropdown-item" href="#">Soaps & Shampoo</a>
					            </li>
					            <li><a class="dropdown-item" href="#">Washing Powder</a></li>
					            <li><a class="dropdown-item" href="#">Dish Washing Soaps</a></li>
					            <li><a class="dropdown-item" href="#">Dettol</a></li>
					            <li><a class="dropdown-item" href="#">Floor, Car Cleaners</a>
					            </li>
					            <li><a class="dropdown-item" href="#">Freshners</a></li>
					            <li><a class="dropdown-item" href="#">Liquids</a></li>
								    </ul>
							  </li>
	            </li> -->

	            <!-- <li class="nav-item dropdown">
	            	<li class="dropdown-submenu">
	            		<a class="dropdown-item" href="#">Electronics</a>
		            		<ul class="dropdown-menu">
					            <li><a class="dropdown-item" href="#">Mobiles</a></li>
					            <li><a class="dropdown-item" href="#">Earphones</a></li>
					            <li><a class="dropdown-item" href="#">Headphones</a></li>
					            <li><a class="dropdown-item" href="#">Laptops & Tablets</a></li>
					            <li><a class="dropdown-item" href="#">Smart Wearables</a></li>
					            <li><a class="dropdown-item" href="#">Elect.Assecories</a></li>
					            <li><a class="dropdown-item" href="#">Gadgets</a></li>
								    </ul>
							  </li>
	            </li> -->

	            <!-- <li><hr class="dropdown-divider"></li>
	            <li class="dropdown-item" disabled;>Coming Soon More*</li> -->
						<!-- </ul> -->

	        </li>
	        <li class="nav-item">
	          <li class="nav-link"><%= link_to 'About Us', about_us_path %></li>
	        </li>
	        <li class="nav-item">
	          <li class="nav-link"><%= link_to 'Contact Us', new_contact_path %></li>
	        </li>

        
	        <% if user_signed_in? %>
	        	<li class="nav-item">
		          <a class="nav-link" disabled>|| <%= current_user.email %> {<%= current_user.roles %>} ||</a>
		        </li>
		      <% end %>

					<li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true" style="color: lightskyblue; background-color: yellow; border-radius: 10px;">User</a>
	          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
	          	<li class="nav-item dropdown">
	          		<% if user_signed_in? %>
			          	<li class="dropdown-item">
			          		<%= link_to 'Edit Profile', edit_user_registration_path %>
			          	</li>
									<li class="dropdown-item">
			          		<%= link_to 'Logout', destroy_user_session_path %>
			          	</li>
			          <% else %>
			          	<li class="dropdown-item">
			          		<%= link_to 'Login', new_user_session_path %>
			          	</li>
									<li class="dropdown-item">
			          		<%= link_to 'Sign Up', new_user_registration_path %>
			          	</li>
			          <% end %>
		          </li>
	          </ul>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<br>

	<center>
		<h3 style="text-decoration-line: underline;">Products List</h3>
		<br>
		<div>
			<table>
				<tr>
				  <th>Name</th>
				  <th>Price</th>
				  <th>Qty.</th>
				  <% if user_signed_in? %>
				  	<th>Categories</th>
				  	<th>SubCategories</th>
				  	<th>Actions</th>
				  <% end %>
				  
				</tr>

				<% if user_signed_in? %>
					<% if current_user.roles == 'owner' && current_user.products %>
						<% current_user.products.each do |product|%>
							<tr>
							  <td><%= product.p_name %></td>
							  <td><%= product.p_price %></td>
							  <td><%= product.p_qty %></td>
					  		<td><%= product&.category&.category_name %></td>
					  		<td><%= product&.subcategory&.subcategory_name %></td>
								<td><p class="btn btn-outline-success"><%= link_to "View", product %></p></td>
							</tr>
						<% end %>

					<% else	%>
						<% @products.each do |product| %>
						<tr>
						  <td><%= product.p_name %></td>
						  <td><%= product.p_price %></td>
						  <td><%= product.p_qty %></td>
						  <td><%= product&.category&.category_name %></td>
				  		<td><%= product&.subcategory&.subcategory_name %></td>
						  <td class="btn btn-outline-success">
						  <%= button_to "Buy", {:controller => :orders, :action => 'create', :product_id => product.id }, :method => :post %>
						  </td>
						</tr>
						<% end %>
					<% end %>

				<% else %>
					<% @products.each do |product| %>
						<tr>
						  <td><%= product.p_name %></td>
						  <td><%= product.p_price %></td>
						  <td><%= product.p_qty %></td>
						</tr>
					<% end %>
				<% end %>
			</table>
		</div>
	</center>

	<br>
	<div>
		<% if user_signed_in? && current_user.owner? %>
			<button type="button" class="btn btn-outline-success" style="margin-left: 20px;">
				<%= link_to "Create New Product", new_product_path %></button>
		<% end %>
	</div>
</body>
